<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t(:title_email) %></h1>
    <p>
      <%= t(:thanks_email) %>
      <%=  @email_newsletter.email %>
      <br>
    </p>
    <%= link_to t(:email_confirm), "http://127.0.0.1:3000/email_newsletters/confirm/#{@email_newsletter.id}", class: "btn btn-danger btn-lg"%>
    <p> <%= t(:message_email) %>  </p>

  </body>
</html>